:root {
  --neon-pink: #ff007b;
  --neon-blue: #00eaff;
  --neon-purple: #8e00ff;
  --dark-bg: #3b3b42b0;
  --glass-bg: rgba(218, 204, 204, 0.08);
  --border-color: rgba(255, 255, 255, 0.15);
  --text-color: #e0e0e0;
  --shadow-color-1: rgba(0, 234, 255, 0.4); /* Blue glow */
  --shadow-color-2: rgba(255, 0, 123, 0.4); /* Pink glow */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--dark-bg), rgb(61, 65, 63));
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* min-width: 80vw; */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--neon-pink);
  box-shadow: 0 0 40px var(--shadow-color-2);
  /* background-color: rgb(202, 170, 170); */
}

.head {
}
input {
  width: 25vw;
  padding: 1rem;
  outline: none;
  border: none;
  background: rgba(78, 70, 70, 0.3);
  color: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(25px);
  font-size: 1.2rem;
  text-align: right;
  /* background-color: rgb(194, 137, 184); */
  box-shadow: inset 0 10px 40px rgba(193, 137, 184, 0.6);
  text-shadow: 0 10px 15px rgba(0, 234, 255, 0.2);
}

#result {
  width: 25vw;
  height: 3rem;
  padding: 1rem;
  background-color: rgb(180, 191, 191);
}

.container {
  height: 55vh;
  width: 25vw;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  border-radius: 10px;
  /* border: none; */
  border-color: rgb(223, 138, 138);
  font-size: larger;
  transition: all 0.3s ease;
  background-color: transparent(40%);
}

button:hover {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(255, 0, 0);
}

#enter {
  /* grid-column: 3/5; */
}