*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family : 'Arial';
}

body{
height : 100vh;
width : 100vw;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(135deg, rgb(40, 125, 204), rgb(51, 230, 167));

}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
}

.head {
    
    input {
        width: 100%;
        padding: 1rem;
        outline: none;
        border: none;
        background-color: rgb(113, 183, 189);
    }

    .result {
        height: 3rem;
        padding: 1rem;
        background-color: rgb(180, 191, 191);
    }
}

.container {
    height: 55vh;
    width: 25vw;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
button {
    border-radius: 10px;
    /* border: none; */
    border-color: rgb(223, 138, 138);
    font-size: larger;
    transition: all 0.3s ease;
    background-color: transparent(40%);
}

button:hover {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 0, 0);
}