:root {
  --neon-pink: #ff007b;
  --neon-blue: #00eaff;
  --neon-purple: #8e00ff;
  --dark-bg: #3b3b42b0;
  --glass-bg: rgba(218, 204, 204, 0.08);
  --border-color: rgba(255, 255, 255, 0.15);
  --text-color: #e0e0e0;
  --shadow-color-1: rgba(0, 234, 255, 0.4); /* Blue glow */
  --shadow-color-2: rgba(255, 0, 123, 0.4); /* Pink glow */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(135deg, var(--dark-bg), rgb(61, 65, 63));
}

.calculator {
  height: 100vh;
  width: 90vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  /* max-height: 100vh; */
}

.main {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--neon-pink);
  box-shadow: 0 0 40px var(--shadow-color-2);
  background-color: rgb(207, 138, 207);
}



input {
  width: 30vw;
  padding: 0.6rem;
  outline: none;
  border: none;
  background: rgba(78, 70, 70, 0.3);
  color: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(25px);
  font-size: 1.2rem;
  text-align: right;
  /* background-color: rgb(194, 137, 184); */
  box-shadow: inset 0 10px 40px rgba(193, 137, 184, 0.6);
  text-shadow: 0 10px 15px rgba(0, 234, 255, 0.2);
}

#result {
  width: 30vw;
  height: 2.3em;
  padding: 1rem;
  background-color: rgb(180, 191, 191);
}

.container {
  height: 55vh;
  width: 30vw;
  width: full;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border-radius: 10px;
  /* border: none; */
  border-color: rgb(223, 138, 138);
  font-size: larger;
  transition: all 0.3s ease;
  background-color: transparent(40%);
}

button:hover {
  backdrop-filter: blur(20px);
  background-color: transparent;
  color: rgb(255, 0, 0);
}

#enter {
  grid-column: 3/5;
}

#history {
  background-color: #9268c9;
  padding: 0.7rem 2.3rem;
}

.his-container {
  gap: 2rem;
  display: flex;
  justify-content: space-around;
  /* position: relative; */
}


#history-div {
  backdrop-filter: blur(10px);
  background-color: #704c7e83;
  white-space: pre-line;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 0.8s ease-in;
}

#history-div > p {
  margin: 0.5rem;
}

@keyframes rotate {
  0% {
    scale: 0; 
  }
  100% {
    scale: 1;
  }

}

.hidden {
  display: none;  
  opacity: 0;
  /* background: transparent; */
}


@media screen and (max-width: 700px) {
  .container {
    width: 80vw;
  }
  input, #result, .container {
    width: 50vw;
  }
}

@media screen and (max-width: 400px) { 
  .main {
    width: 95%;
  }
  input, #result, .container {
    min-width: 70vw;
  }
}